label, p {
    padding: 10px;
    font-size: 2rem;
    line-height: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

#prompt-label {
    display: inline-block;
    width: 70%;
    text-align: right;
}

section {
    font-size:2rem;
    width:50%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif
}

#hidden {
    display: none;
}

input, textarea {
    font-size: 2rem;
    display: inline-block;
    width: 50%;
    font-family: 'Times New Roman', Times, serif
}

select {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 1px;
}

button {
    font-size: 2rem;
    padding: 1px;
    font-family: 'Times New Roman', Times, serif;
    width: 8%
}

#word-button {
    margin-left: 46%;
}

a {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif

}

.link-div {
    width: 100%;
    text-align:center;
}

h1 {
    margin-bottom: 0;
}

#new-story-form {
    width: 75%;
    margin: auto;
    text-align: center;
}

#new-story-button{
    display: block;
    margin-left: 46%
}