{% extends 'base.html' %}

{% block title %}Madlib Form{% endblock %}

{% block content %}
    <h1>Madlibs</h1>
    <form action="/story" id="prompt-form">
        {% for prompt in story.prompts %}
        <div>
            <label for="{{prompt}}" id="prompt-label" class="tooltip" title="{{helperText[prompt]}}">{{prompt}}:
                <input type="text" name="{{prompt}}">
            </label>
        </div>
        <br>
        {% endfor %}
        <button type="submit" id="word-button">Submit</button>
    </form>
{% endblock %}    