{% extends 'base.html' %}

{% block title %}Select A Story{% endblock %}

{% block heading %}
    <h1>Madlibs</h1>
{% endblock %}
    
{% block content %}
    <form action="/form" id="select-form">
        <label for="stories">Select Your Story:</label>
        <select name="stories" id="stories">
            {% for story in stories.keys() %}
            <option value="{{story}}">{{story}}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
{% endblock %}   